*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Header*/
#logo{
    padding: 15px 0px 15px 0px;
}

nav{
    display: flex;
    background-color: #FFA000;
    justify-content: center;
}

nav ul{
    list-style: none;
}

nav ul li a{
    color: #ffff;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li{
    font-size: 20;
    font-weight: 700;
    padding: 7px 30px 7px 30px;
}

header{
    display: flex;
    background: #FFC107;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 0px 10px black;
}

/*Fim do Header*/

/*Inicio main*/
/*imagens*/
#topo{
    position: absolute;
    width: 1349px;
    height: 638.18px;
    left: 0px;
    top: 147px;
}

#feet{
    position: absolute;
    width: 1349px;
    height: 772px;
    left: 0px;
    top: 1625px;
}

#img{
    position: absolute;
    width: 345px;
    height: 342px;
    left: 121px;
    top: 1018px;
}

#img2{
    position: absolute;
    width: 345px;
    height: 342px;
    left: 549px;
    top: 1018px;
}

#img3{
    position: absolute;
    width: 345px;
    height: 342px;
    left: 974px;
    top: 1018px;
}

/*Textos*/
h1{
position: absolute;
width: 370px;
height: 170px;
left: 969px;
top: 331px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 85px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

#p1{
    position: absolute;
width: 830px;
height: 67px;
left: 305px;
top: 878px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 67px;
text-align: center;
color: #FFA000;
}

#p2{
    position: absolute;
width: 466px;
height: 71px;
left: 62px;
top: 1372px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
text-align: center;
color: #000000;
}

#p3{
    position: absolute;
width: 466px;
height: 71px;
left: 496px;
top: 1372px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
text-align: center;
color: #000000;
}

#p4{
    position: absolute;
width: 400px;
height: 71px;
left: 940px;
top: 1372px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
text-align: center;
color: #000000;

}

#titulofeet{
position: absolute;
width: 588px;
height: 96px;
left: 122px;
top: 1788px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 79px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#textofeet{
position: absolute;
width: 424px;
height: 333px;
left: 123px;
top: 1957px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*btn*/
#btn{
position: absolute;
width: 185px;
height: 48px;
left: 201px;
top: 1419px;
}

#btn2{
position: absolute;
width: 185px;
height: 48px;
left: 635px;
top: 1419px;
}

#btn3{
position: absolute;
width: 185px;
height: 48px;
left: 1054px;
top: 1419px;

}

.button{
background: #176902;
color: #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;
border: none;
cursor: pointer;
}

/*Footer*/
#direitos{
position: absolute;
width: 464px;
height: 22px;
left: 380px;
top: 2448px;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color:#FFFFFF;
}

#logo2{
    position: absolute;
width: 324px;
height: 84px;
left: 10px;
top: 2415px;
}

.footcolor div{
    padding: 50px;
    position: absolute;
    width: 1349px;
    height: 119px;
    left: 0px;
    top: 2397px;
}